.section-text {
    font-size: var(--fontsize-5);
    margin-block: 15px 35px;
}

.instruction :is(.section-title, .section-text) { text-align: center; }

.instruction .section-title { margin-block-end: 15px; }

.instruction-list {
  display: grid;
  gap: 30px;
  margin-block-start: 50px;
}

.instruction-card { text-align: center; }

.instruction-card .card-banner { transition: var(--transition-2); }

.instruction-card:hover .card-banner { transform: rotateY(1turn); }

.instruction-card .img {
  margin-inline: auto;
  margin-block-end: 12px;
}

.instruction-card .card-subtitle {
  font-size: var(--fontsize-8);
  font-weight: var(--fontw-700);
  text-transform: uppercase;
}

.instruction-card .card-title {
  font-size: var(--fontsize-4);
  margin-block: 5px 15px;
}

.instruction-card .card-text { padding-inline: 20px; }


